<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>List of Receipts</title>
    </head>
    <body>
        {% block content %} {% endblock content %}
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'create_receipt' %}">Create a Receipt</a> </li>
                        <li><a href="{% url 'category_list' %}">Category List</a></li>
                        <li><a href="{% url 'account_list' %}">Account List</a></li>
                        <li><a href="{% url 'create_category' %}">Create a Category</a></li>
                        <li><a href="{% url 'create_account' %}">Creat an Account</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </body>
</html>
